{% extends 'base_views.html' %} {% block content %} <h3 class="text mb-4 page-title">
    <a href="{{ url_for('main') }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
      </svg>
</a>Route Summary</h3>
<hr />
<div class="table-responsive" id="output_table" style="border-width: 1px;" name="output_table">
	<table class="table table-striped">
		<thead style="background-color: white;">
			<tr>
				<th>Route</th>
				<th>Num Legs</th>
				<th>Leg Sequence</th>
				<th>Route Length</th>
				<th>Num Flights</th>
				<th>Flight List</th>
				<th>Airport Sequence</th>
			</tr>
		</thead>
		<tbody> {% for row in data %} <tr>
				<td>{% if row[0] != None %}{{ row[0] }}{% endif %}</td>
				<td>{% if row[1] != None %}{{ row[1] }}{% endif %}</td>
				<td>{% if row[2] != None %}{{ row[2] }}{% endif %}</td>
				<td>{% if row[3] != None %}{{ row[3] }}{% endif %}</td>
				<td>{% if row[4] != None %}{{ row[4] }}{% endif %}</td>
				<td>{% if row[5] != None %}{{ row[5] }}{% endif %}</td>
				<td>{% if row[6] != None %}{{ row[6] }}{% endif %}</td>
			</tr> {% endfor %} </tbody>
	</table>
</div> {% endblock %}